@font-face {
    font-family: "Rumiko Sans Demo";
    src: url("../../public/fonts/RumikoSans.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}

.glow {
    padding: 8px;
    text-align: center;
}

.glow:hover {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5))
        drop-shadow(0 0 5px rgba(255, 255, 255, 0.5)) invert(0)
        drop-shadow(0 0 20px rgba(255, 255, 255, 0.5)) invert(0);
    transition: drop-shadow 0.3s ease-in-out;
}
